@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --background-gradient-color-primary: rgb(208,255,253);
  --background-gradient-color-secondary: rgba(117,254,255,0.8491771708683473);
  --social-icon-color: rgba(136, 127, 127, 0.85);
  --social-icon-color-opaque: rgba(136, 127, 127, 1);
  --name-color: rgb(121, 105, 105);
}

html, body, main {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--background-gradient-color-primary);
    background: radial-gradient(circle, var(--background-gradient-color-primary) 0%, var(--background-gradient-color-secondary) 100%);
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  ul li {
    display: inline;
  }

  a {
    text-decoration: none;
  }

  .social {
    cursor: pointer;
    font-size: 5em;
    margin: .5rem;
    color: var(--social-icon-color)
  }

  .social:hover {
    color: var(--social-icon-color-opaque)
  }

  .name {
    font-family: 'Open Sans', sans-serif;
    font-size: x-large;
    color: var(--name-color)
  }